#background {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: var(--header-color);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-text {
    margin-left: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter";
}

#left-sidebar {
    width: 25vw;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    background-color: #33354a;
}

.tasks-button {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    height: 40px;
    background-color: #3f4666;
    color: white;
    font-size: 18px;
    border: none;
    font-family: "Inter";
    border-radius: 15px;
    user-select: none;
}

.tasks-button:hover {
    background-color: #414c87;
    cursor: pointer;
}

.tasks-button:active {
    background-color: #4654a7;
}
