#manage-save-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 20px;

    overflow-x: auto;
}

#manage-save-header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;

    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter";
}

.save-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.reset-save-button:hover {
    background-color: red;
}

.reset-save-button:active {
    background-color: #ff8181;
}

.modal-button-active {
    background-color: #41509c;
    cursor: pointer;
}

.modal-button-active:hover {
    background-color: #4e5ead;
}

.modal-button-active:active {
    background-color: #5f6db4;
}
