.task-component {
    width: 300px;
    background-color: #3d4155;
    border-radius: 5px;
}

.task-component-name-display:hover {
    background-color: #4a506f;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task-component-name-display {
    padding: 5px;

    font-size: 21px;
    font-family: "Inter";
    color: white;

    text-align: center;
}

.task-component-footer {
    height: 20px;
    background-color: #4a506f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.task-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

.edit-name-task-button, .task-priority-button {
    background-color: #474f79;
    color: white;
    font-size: 16px;
    border: none;
    font-family: "Inter";
    border-radius: 5px;
    user-select: none;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.edit-name-task-button:hover, .task-priority-button:hover {
    background-color: #58649e;
}

.edit-name-task-button:active, .task-priority-button:active {
    background-color: #6b77b6;
}

.task-description-label, .task-priority-label {
    color: white;
    font-family: "Inter";
    font-size: 14px;
    text-align: center;
}

.task-description-textarea {
    margin-top: 5px;
    margin-bottom: 5px;

    border: 1px solid white;
    background-color: #303650;
    color: white;
    font-family: "Inter";
    font-size: 14px;
    border-radius: 5px;
    resize: vertical;
    padding: 5px;
}

.task-priority-container {
    width: 100%;
}