.task-component {
    width: 300px;
    background-color: #3d4155;
    border-radius: 5px;
}

.task-header:hover {
    background-color: #4a506f;
    cursor: pointer;
}

.task-name-container:hover {
    background-color: #4a506f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task-name-container {
    display: flex;
    flex-direction: row;
}

.task-component-priority-top-right {
    color: white;
    font-family: "Inter";
    font-size: 18px;
    width: 40px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.task-component-name-display {
    z-index: 10;

    padding: 5px;

    font-size: 21px;
    font-family: "Inter";
    color: white;

    width: 260px;

    word-break: break-all;

    text-align: center;
}

.task-group-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: "Inter";
    font-size: 14px;
    width: 260px;
    padding-bottom: 5px;
}

.task-component-footer {
    height: 20px;
    background-color: #4a506f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.task-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

.task-button {
    background-color: #474f79;
    color: white;
    font-size: 16px;
    border: none;
    font-family: "Inter";
    border-radius: 5px;
    user-select: none;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.task-button-nomargin,
.task-button-delete {
    background-color: #474f79;
    color: white;
    font-size: 16px;
    border: none;
    font-family: "Inter";
    border-radius: 5px;
    user-select: none;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.task-button-delete {
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-button:hover,
.task-button-nomargin:hover {
    background-color: #58649e;
}

.task-button:active,
.task-button-nomargin:active {
    background-color: #6b77b6;
}

.task-button-delete:hover {
    background-color: red;
}

.task-button-delete:active {
    background-color: #ff8181;
}

.move-task-button {
    margin-right: 10px;
}

.move-task-select {
    max-width: 150px;
}

.move-task-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    color: white;
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
}

.task-description-label,
.task-priority-label,
.task-tags-label {
    color: white;
    font-family: "Inter";
    font-size: 14px;
    text-align: center;
}

.task-description-textarea {
    margin-top: 5px;
    margin-bottom: 5px;

    border: 1px solid white;
    background-color: #303650;
    color: white;
    font-family: "Inter";
    font-size: 14px;
    border-radius: 5px;
    resize: vertical;
    padding: 5px;
}

.task-priority-container {
    width: 100%;
}

.task-priority-adders {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.task-tags-container {
    width: 100%;
}

.task-tags-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.task-add-tag-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
