#notification-manager {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    grid-area: main;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    overflow-y: hidden;
}

.notification-component {
    width: 80px;
    height: 40px;

    background-color: #0070bb;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Inter";
    pointer-events: all;
    color: white;

    user-select: none;
    border: none;
    cursor: pointer;
}

.notification-component:hover {
    background-color: #ff0000;
}

.notification-component:active {
    background-color: #ff7474;
}

.notification-fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
