html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

:root {
    --background-color: #1e2028;
    --header-color: #26293a;
    --main-button-color: #3f4666;
    --main-button-color-hover: #414c87;
    --main-button-color-active: #4654a7;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
