html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --background-color: #1e2028;
    --header-color: #26293a;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
